.ipynb_checkpoints
__pycache__
output_dir/
lightning_logs/
.vscode
*.parquet
*.csv
!**/final_results/*.csv
*.pkl
*.json
*.pt
*.png
notebooks/trials/
outputs/
multirun/
data/preprocessed/
data/raw/
data/splitted/
models/
